.t-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
   background-color: #0386b2;
}

.t-layout__content {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.info-container { 
  height: calc(100vh - 4em);
  overflow-y: auto;
  align-content: center;
}
