/* Basic Styling */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Sidebar Styling */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Sidebar and Wrapper*/

      .input-group-text{
  height: 8.5vh;
  margin-bottom: -100%;

      }

      .chat {
        margin-top: auto;
        margin-bottom: auto;
      }
      .card {
        margin-top: 20px;
        height: 85vh;
        border-radius: 15px !important;
        background-color: rgba(0, 0, 0, 0.8) !important;
      }
      .contacts_body {
        padding: 0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
      }
      .msg_card_body {
        overflow-y: auto;
      }
      .card-header {
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
      }
      .card-footer {
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
      }
      .container {
        align-content: center;
      }
      .search {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
      }
      .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }
      .type_msg {
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        height: 60px !important;
        overflow-y: auto;
      }
      .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }
      .attach_btn {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
      }
      .send_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
      }
      .search_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
      }
      .contacts {
        list-style: none;
        padding: 0;
      }
      .contacts li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
      }
      .active {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .user_img {
        height: 70px;
        width: 70px;
        border: 1.5px solid #f5f6fa;
      }
      .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;
      }
      .img_cont {
        position: relative;
        height: 70px;
        width: 70px;
      }
      .img_cont_msg {
        height: 40px;
        width: 40px;
      }
      .online_icon {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 0.2em;
        right: 0.4em;
        border: 1.5px solid white;
      }
      .offline {
        background-color: #c23616 !important;
      }
      .user_info {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
      }
      .user_info span {
        font-size: 20px;
        color: white;
      }
      .user_info p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
      }
      .video_cam {
        margin-left: 50px;
        margin-top: 5px;
      }
      .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
      }
      .msg_cotainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: rgb(82, 172, 255);
        padding: 10px;
        position: relative;
      }
      .msg_cotainer_send {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        border-radius: 25px;
        background-color: #58cc71;
        padding: 10px;
        position: relative;
      }
      .msg_time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
      }
      .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
      }
      .msg_head {
        position: relative;
      }
      #action_menu_btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
      }
      .action_menu {
        z-index: 1;
        position: absolute;
        padding: 15px 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 15px;
        top: 30px;
        right: 15px;
        display: none;
      }
      .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .action_menu ul li {
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 5px;
      }
      .action_menu ul li i {
        padding-right: 10px;
      }
      .action_menu ul li:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
      @media (max-width: 576px) {
        .contacts_card {
          margin-bottom: 15px !important;
        }
      }
	  /* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

/* Layout */
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

.s-layout__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

html, body {
  height: 100%; /* Ensure html and body take up full height */
  overflow: hidden; /* Prevent body scroll if you don't want it */
}

.wrapper{
  display: flex;
  height: 100vh;  /* Make sure the wrapper takes the full viewport height */
}

.wrapper .sidebar{
  width: 200px;
  height: 100vh; /* Make the sidebar take the full viewport height */
  background: #4b4276;
  padding: 30px 0;
  position: fixed; /* Keep the sidebar fixed on the left */
  left: 0; /* Stick it to the left edge */
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 80px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  margin-left: 400px; /* Offset the main content by the width of the sidebar */
  width: calc(100% - 200px); /* Ensure the content takes the rest of the width */
  padding: 20px;
}


.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .wrapper .sidebar .social_media {
    display: none !important;
  }
}
   .s-sidebar__nav ul {
      top: 1.3em;
   }

.dt-layout-start{
padding-left: 20px;
}

.dt-layout-start label{
padding-left: 20px;
}

#logoutButton{
  border-radius: 5px;
}
